<div>
<h3>Created by:</h3>
<label><strong>User Name:</strong> {{ name }}</label> <br />
<label><strong>User DOB:</strong> {{ dob }}</label> <br />
<label><strong>User E-mail:</strong> {{ email }}</label> <br />
<p>
This app is for calculating Simple interest and Compound interest.
</p>
  <h5>Notes:</h5>
  <ul>
    <li>There are no units assigned for money and time in this app. </li>
    <li>For money you can just enter the amount irrespective of the currency.</li>
    <li>For time you can enter the number of days or months or years i.e. number of periods(time)</li>
    <li>paid interest is the amount you receive/pay for the values entered.</li>
    <li>All the above are the same for both simple and compound interest.</li>
  </ul>
</div>